{require_otp_vsn, "17|18|19|20"}.

{deps, [
  {rabbit_common, ".*", {git, "https://github.com/jbrisbin/rabbit_common.git", ""}}
]}.

{erl_opts, [
  debug_info,
  compressed,
  report,
  warn_export_all,
  warn_export_vars,
  warn_shadow_vars,
  warn_unused_function,
  warn_deprecated_function,
  warn_obsolete_guard,
  warn_unused_import
]}.
